@using ShopDGHouse.Models
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    DoAn db = new DoAn();
}
<!-- Content Header (Page header) -->
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        @*<li class="nav-item d-none d-sm-inline-block">
                <a href="/admin/home" class="nav-link">Home</a>
            </li>*@
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@db.Categories.Count()</h3>

                            <p>Categories</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="/admin/categories" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@db.Products.Count()</h3>

                            <p>Products</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="/admin/products" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@db.Orders.Count()</h3>

                            <p>Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="/admin/orders" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@db.Brands.Count()</h3>

                            <p>Brands</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="/admin/brands" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
        <!-- /.card-body -->
        <!-- /.card-footer-->
        <div class="card-footer">

        </div>
    </div>
    <!-- /.card -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thống kê</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
                <a href="@Url.Action("WirteExcel","Home")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i> Tạo báo cáo
                </a>
            </div>

            <!-- Content Row -->
            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Thu nhập (Ngày @DateTime.Now.ToString("dd/MM/yyyy"))
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        @{
                                            var donhangthang = from o in db.Orders
                                                               join od in db.OrderDetails
                                                               on o.Id equals od.OrderId
                                                               select new { o.OrderDate, od.Price, o.Status };
                                            decimal tongngay = 0;
                                            decimal tongThang = 0;
                                            decimal tongnam = 0;
                                            foreach (var item in donhangthang)
                                            {
                                                DateTime a = (DateTime)item.OrderDate;
                                                if (a.Day.Equals(DateTime.Now.Day) && item.Status == true)
                                                {

                                                    tongngay += item.Price;
                                                }
                                                if (a.Month.Equals(DateTime.Now.Month) && item.Status == true)
                                                {

                                                    tongThang += item.Price;
                                                }
                                                if (a.Year.Equals(DateTime.Now.Year) && item.Status == true)
                                                {
                                                    tongnam += item.Price;
                                                }
                                            }
                                        }
                                        @String.Format("{0:C}", tongngay)
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Thu nhập (Tháng @DateTime.Now.Month)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@String.Format("{0:C}", tongThang)</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Thu nhập (hàng năm @DateTime.Now.Year)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@String.Format("{0:C}", tongnam)</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    @{
                                        int dhXn = db.Orders.Where(d => d.Status == true).Count();
                                        int tongDH = db.Orders.Count();
                                        double tileDH = (int)((dhXn / (double)tongDH) * 100);
                                    }
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Đơn hàng xác nhận(@dhXn)/Đơn hàng(@tongDH)
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">

                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@tileDH%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                     style="width: @tileDH%" aria-valuenow="@tileDH" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Lượt bình luận(Tháng @DateTime.Now.Month)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        @{
                                            List<int> laycom = new List<int>();
                                            foreach (var com in db.Comments)
                                            {


                                                DateTime ahih = (DateTime)com.CreateDate;
                                                if (ahih.Month.Equals(DateTime.Now.Month))
                                                {
                                                    laycom.Add(com.Id);

                                                }
                                            }

                                        }
                                        @laycom.Count()
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</section>

