@model ShopDGHouse.Models.Order
@using ShopDGHouse.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    DoAn db = new DoAn();
    int stt = 1;
    decimal? total = 0;
    var orderDT = db.OrderDetails.Where(s => s.OrderId == Model.Id).ToList();
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/orders" class="nav-link">Orders</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi tiết</a>
        </li>
    </ul>
}
<section class="content">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2>Chi tiết</h2>
            <p>Đơn hàng: @Model.Id</p>
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-md-4">
                    <h4>Thông tin khách hàng</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Hình thức thanh toán
                        </dt>

                        <dd>
                            @Model.Payment.PayName
                        </dd>

                        <dt>
                            Tên tài khoản
                        </dt>

                        <dd>
                            @Html.DisplayFor(model=>model.User.Username)
                        </dd>

                        <dt>
                            Ngày đặt hàng
                        </dt>

                        <dd>
                            @Model.OrderDate
                        </dd>

                        <dt>
                            Tên khách hàng
                        </dt>

                        <dd>
                            @Model.CustomerName
                        </dd>

                        <dt>
                            Địa chỉ
                        </dt>

                        <dd>
                            @Model.Address
                        </dd>

                        <dt>
                            Email
                        </dt>

                        <dd>
                            @Model.Email
                        </dd>

                        <dt>
                            Phone
                        </dt>

                        <dd>
                            @Model.Phone
                        </dd>

                        <dt>
                            Xác nhận
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                    </dl>
                </div>
                <div class="col-md-8">
                    <h4>Đơn hàng</h4>
                    <hr />
                    <table class="table table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>
                                    Sản phẩm
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th>
                                    Thành tiền
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in orderDT)
                            {
                                total += (decimal)item.Price;
                                <tr>
                                    <td>@(stt++)</td>
                                    <td>@item.Product.ProductName</td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>@String.Format("{0:C}", item.Price)</td>
                                </tr>

                            }

                        </tbody>
                        <tfoot style="background-color:wheat;">
                            <tr>
                                <th></th>
                                <th></th>
                                <th class="text-right">Tổng Tiền</th>
                                <th>@String.Format("{0:C}", total)</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <p>
                    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Quay lại", "Index")
                </p>
            </div>
        </div>
    </div>
</section>