<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCSHOP</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css" type="text/css">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <!-- Offcanvas Menu End -->
    <!-- Categories Section Begin -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/home"><img src="~/Content/assets/img/logo2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        @Html.Action("MenuTop", "Menu")
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            @if (Session["UsernameUI"] == null)
                            {
                                <a href="/dang-nhap"><i class="fa fa-sign-in">Đăng Nhập</i></a>
                                <a href="/dang-ky"><i class="fa fa-user-plus"></i>Đăng Ký</a>
                            }
                            else
                            {
                                <a>@Session["FullnameUI"]</a>
                                <a href="/profileUser/@Session["idUser"]"><i class="fa fa-user"></i>Hồ Sơ</a>
                                <a href="@Url.Action("Logout","Account")">Đăng Xuất</a>
           
                            }
                        </div>
                        <ul class="header__right__widget">

                                <li><span class="icon_search search-switch" name="keyword"></span></li>
                              
                            @*<li>
                                <a href="#">
                                    <span class="icon_heart_alt"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>*@
                            <li>
                                <a href="/gio-hang">
                                    <span class="icon_bag_alt"></span>
                                    <div class="tip" id="checkout_items">0</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    @RenderBody()

    <!-- Instagram End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/home"><img src="Content/assets/img/logo2.png" alt=""></a>
                        </div>
                        <p>
                            Perfume is a symphony, it has a beginning, middle and an end
                        </p>
                        <div class="footer__payment">
                            <a href="#"><img src="Content/assets/img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="Content/assets/img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="Content/assets/img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="Content/assets/img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="Content/assets/img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="/brands">Brands</a></li>
                            <li><a href="/contacts">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> TrungDuc @*<i class="fa fa-heart" aria-hidden="true"></i>*@<a href="https://www.facebook.com/chu.nguyen.92560" target="_blank"></a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <!-- Js Plugins -->

    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/mixitup.min.js"></script>
    <script src="~/Content/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Content/assets/js/jquery.slicknav.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Scripts/jsShopping.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
